<!--
<div class="page-wrapper">
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card fxFlex="calc(33% - 16px)" *ngFor="let event of events$ | async">
      <mat-card-header>
        <mat-card-title>{{ event.title.rendered }}</mat-card-title>
        <mat-card-subtitle>{{ event.date_gmt | date }}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage [src]="event['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url">
      <mat-card-content [innerHTML]="event.excerpt.rendered"></mat-card-content>
      <mat-card-actions align="start">
        <a mat-button [href]="event.link">View</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
-->

<mat-toolbar color="primary">
  <span fxFlex fxLayout fxLayoutAlign="flex-start">l'Afropolitain.e</span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <mat-icon>search</mat-icon>
  </div>
</mat-toolbar>

<!--
<div class="main-container" fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
  <mat-card class="card-event" *ngFor="let event of events$ | async">
    <mat-card-header>
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span>{{event.event_data['_event_venue_name']}}</span>
        <span fxFlex="80%">{{event.event_data['_event_venue_name']}}</span>
        <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon>
      </mat-card-title>
       <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="event.event_data['_event_banner']"
         alt=""
    />

    <mat-card-content>
      <p>{{event.title.rendered}}</p>
       <p>{{event.date_gmt}}</p>
      <p>{{event.event_data['_event_start_date'] | date}}</p>
       <p>{{event.event_data['_event_end_date'] | date:'shortDate':'+0200':'fr'}}</p>
      <p>{{event.event_data['_event_start_time']}} - {{event.event_data['_event_end_time']}}</p>
       <p>{{event.event_data['_event_registration_deadline'] | date }}</p>
      <p>{{event.event_data['_event_location']}}</p>
      <p><span>Prix: </span> {{event.event_data['_prix:']}}</p>
    </mat-card-content>

    <mat-card-actions align="start">
      <a mat-button>Voir sur meetup</a>
       <a mat-button target='blank' [href]="event.event_data['_registration']">Voir sur meetup</a>
    </mat-card-actions>
  </mat-card>
</div>
-->

<!--
<img *ngFor="let event of events$ | async"
   mat-card-image class="img"
   src="{{event['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url}}"
   alt=""
/>

mat-card fxFlex="calc(30% - 16px)"
-->

<!--
Welcome to {{ title }}!
<router-outlet></router-outlet>
-->

<div class="main-container" fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
  <mat-card class="card-event" *ngFor="let event of events$ | async">
    <mat-card-header>
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span>{{event.description}}</span>
        <!--
        <span fxFlex="80%">{{event.description}}</span>
        <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon>
        -->
      </mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>

    <img mat-card-image [src]="event.bannerLink"
         alt=""
    />

    <mat-card-content>
      <p>{{event.title}}</p>
      <p><span>Date crea: </span> {{event.date | date : 'full'}}</p>
      <p>{{event.startDate | date}}</p>
      <!-- <p>{{event.endDate | date:'shortDate':'+0200':'fr'}}</p> -->
      <p>{{event.startTime}} - {{event.endTime}}</p>
      <!-- <p>{{event.registrationDeadline | date }}</p> -->
      <p>{{event.location}}</p>
      <p><span>Prix: </span> {{event.priceDescription}}</p>
    </mat-card-content>

    <mat-card-actions align="start">
      <a mat-button>Voir sur meetup</a>
      <!-- <a mat-button target='blank' [href]="event.registrationLink">Voir sur meetup</a>-->
    </mat-card-actions>
  </mat-card>
</div>
